#### Import Data

In [1]:
import pandas as pd 

df_171=pd.read_csv('diary17/fmld171.csv')
df_171['quarter']=1
df_171['year']=2017

df_172=pd.read_csv('diary17/fmld172.csv')
df_172['quarter']=2
df_172['year']=2017

df_173=pd.read_csv('diary17/fmld173.csv')
df_173['quarter']=3
df_173['year']=2017

df_174=pd.read_csv('diary17/fmld174.csv')
df_174['quarter']=4
df_174['year']=2017

df_2017=pd.concat([df_171, df_172, df_173, df_174], ignore_index=True)
df_2017.columns=df_2017.columns.str.lower()

In [2]:
df_181=pd.read_csv('diary18/fmld181.csv')
df_181['quarter']=1
df_181['year']=2018

df_182=pd.read_csv('diary18/fmld182.csv')
df_182['quarter']=2
df_182['year']=2018

df_183=pd.read_csv('diary18/fmld183.csv')
df_183['quarter']=3
df_183['year']=2018

df_184=pd.read_csv('diary18/fmld184.csv')
df_184['quarter']=4
df_184['year']=2018

df_2018=pd.concat([df_181, df_182, df_183, df_184], ignore_index=True)
df_2018.columns=df_2018.columns.str.lower()

In [3]:
df_191=pd.read_csv('diary19/fmld191.csv')
df_191['quarter']=1
df_191['year']=2019

df_192=pd.read_csv('diary19/fmld192.csv')
df_192['quarter']=2
df_192['year']=2019

df_193=pd.read_csv('diary19/fmld193.csv')
df_193['quarter']=3
df_193['year']=2019

df_194=pd.read_csv('diary19/fmld194.csv')
df_194['quarter']=4
df_194['year']=2019

df_2019=pd.concat([df_191, df_192, df_193, df_194], ignore_index=True)
df_2019.columns=df_2019.columns.str.lower()

In [4]:
df_201=pd.read_csv('diary20/fmld201.csv')
df_201['quarter']=1
df_201['year']=2020

df_202=pd.read_csv('diary20/fmld202.csv')
df_202['quarter']=2
df_202['year']=2020

df_203=pd.read_csv('diary20/fmld203.csv')
df_203['quarter']=3
df_203['year']=2020

df_204=pd.read_csv('diary20/fmld204.csv')
df_204['quarter']=4
df_204['year']=2020

df_2020=pd.concat([df_201, df_202, df_203, df_204], ignore_index=True)
df_2020.columns=df_2020.columns.str.lower()

In [5]:
df_211=pd.read_csv('diary21/fmld211.csv')
df_211['quarter']=1
df_211['year']=2021

df_212=pd.read_csv('diary21/fmld212.csv')
df_212['quarter']=2
df_212['year']=2021

df_213=pd.read_csv('diary21/fmld213.csv')
df_213['quarter']=3
df_213['year']=2021

df_214=pd.read_csv('diary21/fmld214.csv')
df_214['quarter']=4
df_214['year']=2021

df_2021=pd.concat([df_211, df_212, df_213, df_214], ignore_index=True)
df_2021.columns=df_2021.columns.str.lower()

In [6]:
df_221=pd.read_csv('diary22/fmld221.csv')
df_221['quarter']=1
df_221['year']=2022

df_222=pd.read_csv('diary22/fmld222.csv')
df_222['quarter']=2
df_222['year']=2022

df_223=pd.read_csv('diary22/fmld223.csv')
df_223['quarter']=3
df_223['year']=2022

df_224=pd.read_csv('diary22/fmld224.csv')
df_224['quarter']=4
df_224['year']=2022


df_2022=pd.concat([df_221, df_222, df_223, df_224], ignore_index=True)
df_2022.columns=df_2022.columns.str.lower()

In [7]:
print(len(df_2017), len(df_2018), len(df_2019), len(df_2020), len(df_2021), len(df_2022))

11658 11079 10682 10615 12067 12709

In [8]:
df=pd.concat([df_2017, df_2018, df_2019, df_2020, df_2021], ignore_index=True)
print(len(df))

56101

In [9]:
df.to_csv('2017_tob_2022.csv', index=False)

#### Prep

In [10]:
df= pd.read_csv('2017_tob_2022.csv')
df.head()

,inc_rnkm,inc_rnk5,inc_rnk4,inc_rnk3,inc_rnk2,inc_rnk1,inc_rank,newid,age_ref,age_ref_,...,netr_ntm,othr_gxm,rets_rvm,roye_txm,division,refgen,hisp_ref,hisp2,quarter,year
0,0.704287,0.706457,0.699513,0.705671,0.709034,0.707517,0.763599,3608891,27,D,...,A,A,A,A,8.0,5,2,NaN,1,2017
1,0.704573,0.706744,0.699800,0.705958,0.709321,0.707804,0.763886,3608892,27,D,...,A,A,A,A,8.0,5,2,NaN,1,2017
2,0.256737,0.272063,0.260261,0.263508,0.273057,0.266441,0.375717,3608901,53,D,...,A,A,A,A,4.0,3,2,NaN,1,2017
3,0.256312,0.271638,0.259836,0.263083,0.272632,0.266016,0.375292,3608902,53,D,...,A,A,A,A,4.0,3,2,NaN,1,2017
4,0.346813,0.360343,0.345145,0.350655,0.364780,0.354823,0.458908,3608921,56,D,...,A,A,A,A,4.0,3,2,NaN,1,2017

In [11]:
df.loc[df['sex_ref']==1, 'male']=1
df.loc[df['sex_ref']==2, 'male']=0

df.loc[df['hisp_ref']==1, 'hispanic']=1
df.loc[df['hisp_ref']==2, 'hispanic']=0

df.loc[(df['ref_race']==1) & (df['hisp_ref']==2), 'nonhisp_white']=1
df.loc[df['ref_race']!=1, 'nonhisp_white']=0
df.loc[(df['ref_race']==1) & (df['hisp_ref']==1), 'nonhisp_white']=0

df.loc[(df['ref_race']==2) & (df['hisp_ref']==2), 'nonhisp_black']=1
df.loc[df['ref_race']!=2, 'nonhisp_black']=0
df.loc[(df['ref_race']==2) & (df['hisp_ref']==1), 'nonhisp_black']=0

df.loc[(df['ref_race']==4) & (df['hisp_ref']==2), 'nonhisp_asian']=1
df.loc[df['ref_race']!=4, 'nonhisp_asian']=0
df.loc[(df['ref_race']==4) & (df['hisp_ref']==1), 'nonhisp_asian']=0

df.loc[df['educ_ref'].isin([13, 14, 15, 16]), 'college']=1
df.loc[~df['educ_ref'].isin([13, 14, 15, 16]), 'college']=0

df.loc[df['educ_ref'].isin([12]), 'hs']=1
df.loc[~df['educ_ref'].isin([12]), 'hs']=0

df.loc[df['educ_ref'].isin([0, 10, 11]), 'less_hs']=1
df.loc[~df['educ_ref'].isin([0, 10, 11]), 'less_hs']=0

df.loc[df['childage']!=0, 'has_child']=1
df.loc[df['childage']==0, 'has_child']=0

df.loc[df['childage'].between(1,6), 'haschild_under18']=1 # Has children and at least one under 18
df.loc[df['childage']==7, 'haschild_under18']=0 # Has children and none under 18

df.loc[df['bls_urbn']==1, 'urban']=1
df.loc[df['bls_urbn']==2, 'urban']=0

df.loc[df['marital1']==1, 'pres_married']=1
df.loc[df['marital1']!=1, 'pres_married']=0

df.loc[df['marital1'].between(2,4), 'wid_div_sep']=1
df.loc[~df['marital1'].between(2,4), 'wid_div_sep']=0

df.loc[df['marital1']==5, 'never_married']=1
df.loc[df['marital1']!=5, 'never_married']=0

df.loc[df['pres_married']==0, 'single']=1
df.loc[df['pres_married']!=0, 'single']=0

df.loc[df['cutenure'].isin([1,2,3]), 'homeowner']=1 
df.loc[~df['cutenure'].isin([1,2,3]), 'homeowner']=0

df.loc[df['cutenure']==4, 'renter']=1
df.loc[df['cutenure']!=4, 'renter']=0

df.loc[df['region']==1, 'northeast']=1
df.loc[df['region']!=1, 'northeast']=0

df.loc[df['region']==2, 'midwest']=1
df.loc[df['region']!=2, 'midwest']=0

df.loc[df['region']==3, 'south']=1
df.loc[df['region']!=3, 'south']=0

df.loc[df['region']==4, 'west']=1
df.loc[df['region']!=4, 'west']=0

df.loc[df['empltyp1'].notnull(), 'employed']=1
df.loc[df['empltyp1'].isnull(), 'employed']=0

In [12]:
condition1 = (df['year']==2020) & (df['quarter'].between(2,4))
condition2 = (df['year']==2021)
df.loc[condition1 | condition2, 'post_covid']=1
df.loc[~condition1 & ~condition2, 'post_covid']=0

#### Summary

In [13]:
sum_stats=['male', 'age_ref', 'hispanic', 'nonhisp_white', 'nonhisp_black', 'nonhisp_asian', 'college', 'hs', 'less_hs', 'has_child', 
           'haschild_under18', 'urban', 'pres_married', 'wid_div_sep', 'never_married', 'single', 'homeowner', 
           'renter', 'post_covid', 'northeast', 'midwest', 'south', 'west', 'employed', 'finlwt21']

expend_cols=['foodhome', 'foodaway', 'alcbev', 'smoksupp', 'pet_food', 
             'persprod', 'persserv', 'drugsupp', 'houskeep']

In [14]:
df_sumstats=df.groupby('cuid').agg({col: 'max' for col in sum_stats} | {col: 'sum' for col in expend_cols})

In [15]:
df_sumstats['totexp']=df_sumstats[expend_cols].sum(axis=1)

In [16]:
df_sumstats=df_sumstats[df_sumstats['totexp']>0]
print(len(df_sumstats))

27611

In [17]:
df_sumstats.loc[df_sumstats['smoksupp']>0, 'smo_purchase']=1
df_sumstats.loc[df_sumstats['smoksupp']<0.01, 'smo_purchase']=0

In [18]:
print(df_sumstats[sum_stats+['smo_purchase']].describe().loc[['count', 'mean', 'std', '50%']].T)

                    count          mean           std        50%
male              27611.0      0.463511      0.498676      0.000
age_ref           27611.0     52.603600     17.395941     53.000
hispanic          27611.0      0.131976      0.338471      0.000
nonhisp_white     27611.0      0.692659      0.461400      1.000
nonhisp_black     27611.0      0.097461      0.296590      0.000
nonhisp_asian     27611.0      0.060302      0.238050      0.000
college           27611.0      0.705951      0.455623      1.000
hs                27611.0      0.214190      0.410267      0.000
less_hs           27611.0      0.087972      0.283260      0.000
has_child         27611.0      0.361197      0.480356      0.000
haschild_under18   9973.0      0.714329      0.451756      1.000
urban             27611.0      0.941183      0.235286      1.000
pres_married      27611.0      0.526276      0.499318      1.000
wid_div_sep       27611.0      0.263011      0.440276      0.000
never_married     27611.0      0.214154      0.410241      0.000
single            27611.0      0.473724      0.499318      0.000
homeowner         27611.0      0.662526      0.472857      1.000
renter            27611.0      0.319728      0.466379      0.000
post_covid        27611.0      0.345333      0.475485      0.000
northeast         27611.0      0.169425      0.375134      0.000
midwest           27611.0      0.198073      0.398555      0.000
south             27611.0      0.330738      0.470487      0.000
west              27611.0      0.268190      0.443025      0.000
employed          27611.0      0.658542      0.474207      1.000
finlwt21          27611.0  47054.142368  24910.651372  43509.368
smo_purchase      27611.0      0.129514      0.335774      0.000

In [19]:
print(df_sumstats[expend_cols].describe().loc[['count', 'mean', 'std', '50%']].T)

            count        mean         std     50%
foodhome  27611.0  188.199139  168.063671  147.65
foodaway  27611.0  110.769870  164.831337   62.31
alcbev    27611.0   20.584984   58.121847    0.00
smoksupp  27611.0    6.414110   26.479991    0.00
pet_food  27611.0    9.650176   40.342698    0.00
persprod  27611.0   16.364075   37.742757    1.04
persserv  27611.0   12.677034   51.217642    0.00
drugsupp  27611.0   18.875778   96.188768    0.00
houskeep  27611.0   31.629895   62.787680   13.24

#### Analysis

In [20]:
reg_controls=['male', 'hispanic', 'nonhisp_white', 'nonhisp_black', 'nonhisp_asian', 
              'college', 'hs', 'has_child', 'urban', 'single', 'homeowner', 'post_covid', 'northeast', 'midwest', 'west', 
             'inc_rank', 'finlwt21', 'year', 'quarter', 'employed']

expend_cols=['foodhome', 'foodaway', 'alcbev', 'smoksupp', 'pet_food', 
             'persprod', 'persserv', 'drugsupp', 'houskeep']

In [21]:
df_analysis=df.groupby(['cuid']).agg({col: 'max' for col in reg_controls} | {col: 'sum' for col in expend_cols})

In [22]:
df_analysis['totexp']=df_analysis[expend_cols].sum(axis=1)
df_analysis=df_analysis[df_analysis['totexp']>0]

In [23]:
df_grouped1=df_analysis.groupby(['year', 'quarter']).agg({col: 'mean' for col in expend_cols})

print(df_grouped1['smoksupp'])

year  quarter
2017  1          7.508147
      2          8.426072
      3          8.636170
      4          7.993921
2018  1          6.708597
      2          7.242349
      3          8.276426
      4          6.692624
2019  1          6.042024
      2          6.998188
      3          4.950957
      4          8.647065
2020  1          5.633885
      2          3.445159
      3          4.476983
      4          4.018611
2021  1          6.462928
      2          4.569647
      3          5.474849
      4          5.324524
Name: smoksupp, dtype: float64

In [24]:
df_grouped2=df_analysis[['smoksupp', 'year', 'quarter']][df_analysis['smoksupp']>0].groupby(['year', 'quarter']).mean()

In [25]:
print(df_grouped2)

               smoksupp
year quarter
2017 1        45.307782
     2        45.754809
     3        46.779256
     4        46.255148
2018 1        50.552758
     2        46.102913
     3        57.608814
     4        45.679812
2019 1        49.424503
     2        53.426168
     3        41.065605
     4        58.613075
2020 1        47.477214
     2        49.106368
     3        47.754484
     4        42.709423
2021 1        66.482283
     2        52.370124
     3        58.141358
     4        47.408741

#### Frequency Over Time

In [26]:
df_analysis.loc[df_analysis['smoksupp']>0, 'smo_purchase']=1
df_analysis.loc[df_analysis['smoksupp']<0.01, 'smo_purchase']=0

In [27]:
df_grouped3=df_analysis[['smo_purchase', 'year', 'quarter']].groupby(['year', 'quarter']).mean()

In [28]:
print(df_grouped3)

              smo_purchase
year quarter
2017 1            0.165714
     2            0.184157
     3            0.184615
     4            0.172822
2018 1            0.132705
     2            0.157091
     3            0.143666
     4            0.146512
2019 1            0.122248
     2            0.130988
     3            0.120562
     4            0.147528
2020 1            0.118665
     2            0.070157
     3            0.093750
     4            0.094092
2021 1            0.097213
     2            0.087257
     3            0.094164
     4            0.112311

In [29]:
df_analysis['smo_share']=df_analysis['smoksupp']/(df_analysis['foodaway']+df_analysis['foodhome']+df_analysis['smoksupp'])

outcomes=['smoksupp', 'smo_share']
print(df_analysis[outcomes].describe())

           smoksupp     smo_share
count  27611.000000  27505.000000
mean       6.414110      0.022389
std       26.479991      0.088698
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.000000      0.000000
75%        0.000000      0.000000
max      551.560000      1.000000

In [30]:
df_grouped4=df_analysis[['smo_share', 'year', 'quarter']].groupby(['year', 'quarter']).mean()

In [31]:
print(df_grouped4)

              smo_share
year quarter
2017 1         0.028108
     2         0.030396
     3         0.032238
     4         0.025698
2018 1         0.022516
     2         0.024718
     3         0.029683
     4         0.025716
2019 1         0.022524
     2         0.023382
     3         0.019229
     4         0.027859
2020 1         0.018374
     2         0.013551
     3         0.017045
     4         0.013409
2021 1         0.020918
     2         0.015601
     3         0.017695
     4         0.017342

#### Regression

In [32]:
import statsmodels.formula.api as smf
alpha = 0.05

reg=smf.ols(formula='smo_purchase~post_covid', data=df_analysis)
results=reg.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           smo_purchase   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     167.1
Date:                Mon, 30 Oct 2023   Prob (F-statistic):           4.09e-38
Time:                        08:02:51   Log-Likelihood:                -8962.1
No. Observations:               27611   AIC:                         1.793e+04
Df Residuals:                   27609   BIC:                         1.794e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.1484      0.002     59.611      0.000       0.144       0.153
post_covid    -0.0548      0.004    -12.927      0.000      -0.063      -0.046
==============================================================================
Omnibus:                    10832.644   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            31209.318
Skew:                           2.186   Prob(JB):                         0.00
Kurtosis:                       5.831   Cond. No.                         2.42
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [33]:
print(results.pvalues.round(6) < alpha)

Intercept     True
post_covid    True
dtype: bool

In [34]:
reg1=smf.ols(formula='smoksupp~post_covid', data=df_analysis[df_analysis['smoksupp']>0])
results1=reg.fit()
print(results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           smo_purchase   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     167.1
Date:                Mon, 30 Oct 2023   Prob (F-statistic):           4.09e-38
Time:                        08:02:51   Log-Likelihood:                -8962.1
No. Observations:               27611   AIC:                         1.793e+04
Df Residuals:                   27609   BIC:                         1.794e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.1484      0.002     59.611      0.000       0.144       0.153
post_covid    -0.0548      0.004    -12.927      0.000      -0.063      -0.046
==============================================================================
Omnibus:                    10832.644   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            31209.318
Skew:                           2.186   Prob(JB):                         0.00
Kurtosis:                       5.831   Cond. No.                         2.42
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [35]:
print(results1.pvalues.round(6) < alpha)

Intercept     True
post_covid    True
dtype: bool