In [1]:
import pandas as pd 

df_171=pd.read_csv('diary17/fmld171.csv')
df_171['quarter']=1
df_171['year']=2017

df_172=pd.read_csv('diary17/fmld172.csv')
df_172['quarter']=2
df_172['year']=2017

df_173=pd.read_csv('diary17/fmld173.csv')
df_173['quarter']=3
df_173['year']=2017

df_174=pd.read_csv('diary17/fmld174.csv')
df_174['quarter']=4
df_174['year']=2017

df_2017=pd.concat([df_171, df_172, df_173, df_174], ignore_index=True)
df_2017.columns=df_2017.columns.str.lower()

In [2]:
df_181=pd.read_csv('diary18/fmld181.csv')
df_181['quarter']=1
df_181['year']=2018

df_182=pd.read_csv('diary18/fmld182.csv')
df_182['quarter']=2
df_182['year']=2018

df_183=pd.read_csv('diary18/fmld183.csv')
df_183['quarter']=3
df_183['year']=2018

df_184=pd.read_csv('diary18/fmld184.csv')
df_184['quarter']=4
df_184['year']=2018

df_2018=pd.concat([df_181, df_182, df_183, df_184], ignore_index=True)
df_2018.columns=df_2018.columns.str.lower()

In [3]:
df_191=pd.read_csv('diary19/fmld191.csv')
df_191['quarter']=1
df_191['year']=2019

df_192=pd.read_csv('diary19/fmld192.csv')
df_192['quarter']=2
df_192['year']=2019

df_193=pd.read_csv('diary19/fmld193.csv')
df_193['quarter']=3
df_193['year']=2019

df_194=pd.read_csv('diary19/fmld194.csv')
df_194['quarter']=4
df_194['year']=2019

df_2019=pd.concat([df_191, df_192, df_193, df_194], ignore_index=True)
df_2019.columns=df_2019.columns.str.lower()

In [4]:
df_201=pd.read_csv('diary20/fmld201.csv')
df_201['quarter']=1
df_201['year']=2020

df_202=pd.read_csv('diary20/fmld202.csv')
df_202['quarter']=2
df_202['year']=2020

df_203=pd.read_csv('diary20/fmld203.csv')
df_203['quarter']=3
df_203['year']=2020

df_204=pd.read_csv('diary20/fmld204.csv')
df_204['quarter']=4
df_204['year']=2020

df_2020=pd.concat([df_201, df_202, df_203, df_204], ignore_index=True)
df_2020.columns=df_2020.columns.str.lower()

In [5]:
df_211=pd.read_csv('diary21/fmld211.csv')
df_211['quarter']=1
df_211['year']=2021

df_212=pd.read_csv('diary21/fmld212.csv')
df_212['quarter']=2
df_212['year']=2021

df_213=pd.read_csv('diary21/fmld213.csv')
df_213['quarter']=3
df_213['year']=2021

df_214=pd.read_csv('diary21/fmld214.csv')
df_214['quarter']=4
df_214['year']=2021

df_2021=pd.concat([df_211, df_212, df_213, df_214], ignore_index=True)
df_2021.columns=df_2021.columns.str.lower()

In [6]:
df_221=pd.read_csv('diary22/fmld221.csv')
df_221['quarter']=1
df_221['year']=2022

df_222=pd.read_csv('diary22/fmld222.csv')
df_222['quarter']=2
df_222['year']=2022

df_223=pd.read_csv('diary22/fmld223.csv')
df_223['quarter']=3
df_223['year']=2022

df_224=pd.read_csv('diary22/fmld224.csv')
df_224['quarter']=4
df_224['year']=2022


df_2022=pd.concat([df_221, df_222, df_223, df_224], ignore_index=True)
df_2022.columns=df_2022.columns.str.lower()

In [7]:
df=pd.concat([df_2017, df_2018, df_2019, df_2020, df_2021, df_2022], ignore_index=True)
df.columns=df.columns.str.lower()

In [8]:
df= pd.read_csv('2017_tob_2022.csv')
df.columns=df.columns.str.lower()

In [9]:
df.to_csv('2017_tob_2022.csv', index=False)

#### Dummy Variables for between race and socioeconomic factors.

In [20]:
df = pd.read_csv('2017_tob_2022.csv')
df.columns=df.columns.str.lower()

df.head()

,inc_rnkm,inc_rnk5,inc_rnk4,inc_rnk3,inc_rnk2,inc_rnk1,inc_rank,newid,age_ref,age_ref_,...,wid_div_sep,never_married,single,homeowner,renter,northeast,midwest,south,west,employed
0,0.704287,0.706457,0.699513,0.705671,0.709034,0.707517,0.763599,3608891,27,D,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
1,0.704573,0.706744,0.699800,0.705958,0.709321,0.707804,0.763886,3608892,27,D,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
2,0.256737,0.272063,0.260261,0.263508,0.273057,0.266441,0.375717,3608901,53,D,...,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.256312,0.271638,0.259836,0.263083,0.272632,0.266016,0.375292,3608902,53,D,...,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.346813,0.360343,0.345145,0.350655,0.364780,0.354823,0.458908,3608921,56,D,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

In [18]:
len(df['smoksupp'])

56101

In [11]:
df.loc[df['sex_ref']==1, 'male']=1
df.loc[df['sex_ref']==2, 'male']=0

df.loc[df['hisp_ref']==1, 'hispanic']=1
df.loc[df['hisp_ref']==2, 'hispanic']=0

df.loc[(df['ref_race']==1) & (df['hisp_ref']==2), 'nonhisp_white']=1
df.loc[df['ref_race']!=1, 'nonhisp_white']=0
df.loc[(df['ref_race']==1) & (df['hisp_ref']==1), 'nonhisp_white']=0

df.loc[(df['ref_race']==2) & (df['hisp_ref']==2), 'nonhisp_black']=1
df.loc[df['ref_race']!=2, 'nonhisp_black']=0
df.loc[(df['ref_race']==2) & (df['hisp_ref']==1), 'nonhisp_black']=0

df.loc[(df['ref_race']==4) & (df['hisp_ref']==2), 'nonhisp_asian']=1
df.loc[df['ref_race']!=4, 'nonhisp_asian']=0
df.loc[(df['ref_race']==4) & (df['hisp_ref']==1), 'nonhisp_asian']=0

df.loc[df['educ_ref'].isin([13, 14, 15, 16]), 'college']=1
df.loc[~df['educ_ref'].isin([13, 14, 15, 16]), 'college']=0

df.loc[df['educ_ref'].isin([12]), 'hs']=1
df.loc[~df['educ_ref'].isin([12]), 'hs']=0

df.loc[df['educ_ref'].isin([0, 10, 11]), 'less_hs']=1
df.loc[~df['educ_ref'].isin([0, 10, 11]), 'less_hs']=0

df.loc[df['childage']!=0, 'has_child']=1
df.loc[df['childage']==0, 'has_child']=0

df.loc[df['childage'].between(1,6), 'haschild_under18']=1 # Has children and at least one under 18
df.loc[df['childage']==7, 'haschild_under18']=0 # Has children and none under 18

df.loc[df['bls_urbn']==1, 'urban']=1
df.loc[df['bls_urbn']==2, 'urban']=0

df.loc[df['marital1']==1, 'pres_married']=1
df.loc[df['marital1']!=1, 'pres_married']=0

df.loc[df['marital1'].between(2,4), 'wid_div_sep']=1
df.loc[~df['marital1'].between(2,4), 'wid_div_sep']=0

df.loc[df['marital1']==5, 'never_married']=1
df.loc[df['marital1']!=5, 'never_married']=0

df.loc[df['pres_married']==0, 'single']=1
df.loc[df['pres_married']!=0, 'single']=0

df.loc[df['cutenure'].isin([1,2,3]), 'homeowner']=1 
df.loc[~df['cutenure'].isin([1,2,3]), 'homeowner']=0

df.loc[df['cutenure']==4, 'renter']=1
df.loc[df['cutenure']!=4, 'renter']=0

df.loc[df['region']==1, 'northeast']=1
df.loc[df['region']!=1, 'northeast']=0

df.loc[df['region']==2, 'midwest']=1
df.loc[df['region']!=2, 'midwest']=0

df.loc[df['region']==3, 'south']=1
df.loc[df['region']!=3, 'south']=0

df.loc[df['region']==4, 'west']=1
df.loc[df['region']!=4, 'west']=0

df.loc[df['empltyp1'].notnull(), 'employed']=1
df.loc[df['empltyp1'].isnull(), 'employed']=0

In [28]:
condition1 = (df['year'].isin([2017, 2018, 2019])) | ((df['year'] == 2020) & (df['quarter'] == 1))
condition2 = (df['year'].isin([2020]) & (df['quarter'].between(2, 4)))
condition3 = (df['year'].isin([2021, 2022]))

In [29]:
print(len(df.loc[condition1, 'smoksupp']))
print(len(df.loc[condition2, 'smoksupp']))
print(len(df.loc[condition3, 'smoksupp']))

36704
7330
12067

In [30]:
df['smoksupp'].describe()

count    56101.000000
mean         3.156806
std         15.135768
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        422.000000
Name: smoksupp, dtype: float64

In [39]:
df_grouped1=df.groupby(['year', 'quarter'])['smoksupp'].mean()
df_grouped11=df.groupby(['year', 'quarter'])['smoksupp'].sum()

print(df_grouped1)

year  quarter
2017  1          3.699896
      2          4.144292
      3          4.252660
      4          3.942019
2018  1          3.314638
      2          3.580809
      3          4.038187
      4          3.306582
2019  1          2.979163
      2          3.446214
      3          2.438504
      4          4.247324
2020  1          2.774924
      2          1.699446
      3          2.183382
      4          1.943392
2021  1          3.220517
      2          2.257893
      3          2.727477
      4          2.582320
Name: smoksupp, dtype: float64

In [41]:
print(df_grouped1)

year  quarter
2017  1          3.699896
      2          4.144292
      3          4.252660
      4          3.942019
2018  1          3.314638
      2          3.580809
      3          4.038187
      4          3.306582
2019  1          2.979163
      2          3.446214
      3          2.438504
      4          4.247324
2020  1          2.774924
      2          1.699446
      3          2.183382
      4          1.943392
2021  1          3.220517
      2          2.257893
      3          2.727477
      4          2.582320
Name: smoksupp, dtype: float64

In [40]:
print(df_grouped11)

year  quarter
2017  1          10511.40534
      2          12445.30798
      3          12349.72366
      4          11471.27665
2018  1           9251.15471
      2           9958.22925
      3          11694.58931
      4           8633.48452
2019  1           7957.34498
      2           9349.57936
      3           6693.69362
      4          10843.41890
2020  1           9115.62516
      2           3290.12665
      3           5587.27458
      4           5509.51554
2021  1           9506.96645
      2           7279.44725
      3           8256.07285
      4           7395.76364
Name: smoksupp, dtype: float64

In [31]:
# df_smoking = df['smoksupp'].copy()
# print(df_smoking)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
56096    0.0
56097    0.0
56098    0.0
56099    0.0
56100    0.0
Name: smoksupp, Length: 56101, dtype: float64

In [32]:
import statsmodels.formula.api as smf

reg = smf.ols(formula = "df['smoksupp'] ~ condition1", data=df)
results = reg.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         df['smoksupp']   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     71.49
Date:                Mon, 30 Oct 2023   Prob (F-statistic):           2.86e-17
Time:                        08:01:05   Log-Likelihood:            -2.3200e+05
No. Observations:               56101   AIC:                         4.640e+05
Df Residuals:                   56099   BIC:                         4.640e+05
Df Model:                           1
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              2.4140      0.109     22.227      0.000       2.201       2.627
condition1[T.True]     1.1353      0.134      8.455      0.000       0.872       1.398
==============================================================================
Omnibus:                    78474.712   Durbin-Watson:                   1.485
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         24636017.149
Skew:                           8.274   Prob(JB):                         0.00
Kurtosis:                     104.318   Cond. No.                         3.16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [33]:
reg1 = smf.ols(formula = "df['smoksupp'] ~ condition2", data=df)
results1 = reg1.fit()
print(results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         df['smoksupp']   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     52.52
Date:                Mon, 30 Oct 2023   Prob (F-statistic):           4.31e-13
Time:                        08:01:06   Log-Likelihood:            -2.3201e+05
No. Observations:               56101   AIC:                         4.640e+05
Df Residuals:                   56099   BIC:                         4.640e+05
Df Model:                           1
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              3.3363      0.069     48.701      0.000       3.202       3.471
condition2[T.True]    -1.3735      0.190     -7.247      0.000      -1.745      -1.002
==============================================================================
Omnibus:                    78419.913   Durbin-Watson:                   1.484
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         24506333.350
Skew:                           8.265   Prob(JB):                         0.00
Kurtosis:                     104.047   Cond. No.                         3.02
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [34]:
reg2 = smf.ols(formula = "df['smoksupp'] ~ condition3", data=df)
results2 = reg2.fit()
print(results2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         df['smoksupp']   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     14.74
Date:                Mon, 30 Oct 2023   Prob (F-statistic):           0.000123
Time:                        08:01:07   Log-Likelihood:            -2.3203e+05
No. Observations:               56101   AIC:                         4.641e+05
Df Residuals:                   56099   BIC:                         4.641e+05
Df Model:                           1
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              3.2852      0.072     45.552      0.000       3.144       3.427
condition3[T.True]    -0.5970      0.156     -3.839      0.000      -0.902      -0.292
==============================================================================
Omnibus:                    78453.842   Durbin-Watson:                   1.483
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         24556952.866
Skew:                           8.271   Prob(JB):                         0.00
Kurtosis:                     104.152   Cond. No.                         2.57
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.